# Environment
.venv/

# Type checker
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# pyenv environment
.python-version

# secrets
.env

# pytest cache
.pytest_cache/

# .tox
.tox/

# pycache
__pycache__/

# coverage
.coverage

# .vscode
.vscode/